{% extends "base.html" %}

{% block "title" %}Tasks{% endblock %}

{% block "content" %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'task_new' %}">New Task</a>
{% if user.is_authenticated %}
<h1>Tasks:</h1>
{% for task in tasks %}
<p><a href="{% url 'task' task.pk %}">{{ task.title }}</a>
<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'task_update' task.pk %}">Update</a>
</p>

<hr>
{% endfor %}
{% else %}
<h1>Please Login</h1>
<a class="nav-link" href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}